<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Scatch Store</title>

    <!-- Bootstrap -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <!-- Remix Icons -->
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
        rel="stylesheet">

    <!-- Google Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <style>

        *{
            font-family: "Poppins", sans-serif;
        }

        body{
            background:#f8f9fa;
        }

        .card{
            border:none;
            border-radius:18px;
            transition:.25s;
        }

        .card:hover{
            transform:translateY(-6px);
            box-shadow:0 .8rem 1.6rem rgba(0,0,0,.15);
        }

        .btn{
            border-radius:12px;
        }

        .rounded-4{
            border-radius:18px !important;
        }
        .navbar .nav-link {
    border-radius: 10px;
    padding: 9px 13px !important;
    transition: 0.2s ease;
}

.navbar .nav-link:hover {
    color: #ffc107 !important;
    background: rgba(255, 255, 255, 0.08);
}

.navbar-brand {
    letter-spacing: 0.4px;
}

    </style>

</head>

<body>